[submodule "compose-files/compose-files/kafka-stack-docker-compose"]
	path = compose-files/compose-files/kafka-stack-docker-compose
	url = https://github.com/conduktor/kafka-stack-docker-compose.git
[submodule "compose-files/compose-files/watson"]
	path = compose-files/compose-files/watson
	url = https://github.com/talentpair/watson.git
[submodule "compose-files/airbyte"]
	path = compose-files/airbyte
	url = https://github.com/airbytehq/airbyte.git
